/* TOP LEVEL */
html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

p {
    margin: 0;
}

.container {
    display: grid;
}

header, .section1, .section2 {
    color: white;
    padding: 0 30px;
}

.ltblue {
    color: hsl(187, 72%, 80%);
}


/* HEADER */

h1 {
    color: hsl(179, 62%, 43%);
    font-size: 1.5rem;
    padding-top: 26px;
}

.tagline {
    color: hsl(71, 73%, 54%);
    font-size: 1.2rem;
    padding: 12px 0 8px 0;
}

header p {
    color: hsl(218, 22%, 67%);
    font-size: 0.95rem;
    line-height: 1.9rem;
    padding-bottom: 35px;
}

header p span {
    line-height: 0;
}


/* SECTION ONE */
.section1 {
    background: hsl(179, 62%, 43%);
}

.section1 h3 {
    font-size: 1.3rem;
}

.price {
    font-size: 2.5rem;
}

span {
    vertical-align: 30%;
    padding-left: 10px;
}

.section1desc {
    font-size: 1.15rem;
    padding: 10px 0;
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    border-radius: 6px;
    border-color: hsl(71, 73%, 54%);
    font-weight: 600;
    font-size: 1rem;
    padding: 17px 120px;
    margin: 30px 0;
    white-space: nowrap;
}


/* SECTION TWO */
.section2 {
    background: hsl(179, 42%, 53%);
}

.section2 h3 {
    font-size: 1.3rem;
    padding: 8px 0;
}

ul {
    padding-left: 0;
    padding-bottom: 9px;
}

li {
    list-style: none;
    color: hsl(187, 72%, 80%);
    font-size: 1.05rem;
    padding-bottom: 6px;
}


/* FOOTER */
.attribution { font-size: 0.9rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
footer {
    padding-top: 20px;
}




/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
    html {
        font-size: 24px;
    }
}

@media only screen and (min-width: 950px) {
    html {
        font-size: 1.5rem;
    }
    .container {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
    }
    header, .section1, .section2 {
        padding: 0 30px;
    }
    h1 {
        font-size: 2.2rem;
    }
    .tagline {
        font-size: 1.5rem;
    }
    header p {
        font-size: 1.2rem;
    }
    header p span::after {
        content: "\A";
        white-space: pre;
    }
    .section1desc {
        padding-bottom: 22px;
    }
    button {
        padding: 28px 180px;
    }
}

